In [1]:
#Dependencies
import pandas as pd
import numpy as np
athletes = pd.read_csv("clean_df")

In [4]:
#fill null values with "n/a" and make series for the get_dummy function that pivots medals
athletes = athletes.fillna("n/a")
athletes = athletes[['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team','NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']]
medals = pd.DataFrame({
    "Medal": athletes["Medal"]
}
)

In [5]:
# make a df of the pivoted medals
medals = pd.get_dummies(medals)
medals.head()

   Medal_Bronze  Medal_Gold  Medal_Silver  Medal_n/a
0             0           0             0          1
1             0           0             0          1
2             0           0             0          1
3             0           0             0          1
4             0           0             0          1

In [190]:
#ad pivoted medals and important columns into new main df
athletes = athletes[['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team','NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event','region_x', 'notes_x']]
athletes["Bronze"] = medals["Medal_Bronze"]
athletes["Gold"] = medals["Medal_Gold"]
athletes["Silver"] = medals["Medal_Silver"]
athletes["n/a"] = medals["Medal_n/a"]
athletes.head()

   ID                      Name Sex   Age  ... Bronze Gold Silver n/a
0   1                 A Dijiang   M  24.0  ...      0    0      0   1
1   2                  A Lamusi   M  23.0  ...      0    0      0   1
2   3       Gunnar Nielsen Aaby   M  24.0  ...      0    0      0   1
3   4      Edgar Lindenau Aabye   M  34.0  ...      0    1      0   0
4   5  Christine Jacoba Aaftink   F  21.0  ...      0    0      0   1

[5 rows x 20 columns]

In [191]:
#export a df of all important columns and pivoted medals
athletes.to_csv("athletes_and_medalcount")

In [192]:
#remove n/a values form height and weight, then export
athletes_clean = athletes.loc[athletes["Height"]!="n/a"]
athletes_clean = athletes.loc[athletes["Weight"]!="n/a"]
athletes_clean["ID"].nunique()
athletes.to_csv("athletes_and_medalcount_noNaN")